/* screen - div-footer-2 */

.div-footer-2 {
  border: 1px none;
  display: flex;
  min-height: 276px;
  min-width: 1920px;
  width: 100%;
}

.div-footer-2 .div-footer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 194px;
  overflow: hidden;
  width: 1920px;
}

.div-footer-2 .overlap-group {
  height: 128px;
  margin-top: -3px;
  position: relative;
  width: 1920px;
}

.div-footer-2 .rectangle-7 {
  -webkit-backdrop-filter: blur(8px) brightness(100%);
  backdrop-filter: blur(8px) brightness(100%);
  background-color: #2e2e2e70;
  height: 125px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 1920px;
}

.div-footer-2 .overlap-group1 {
  -webkit-backdrop-filter: blur(8px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(8px) brightness(100%);
  background-color: #2e2e2e;
  display: flex;
  height: 151px;
  min-width: 1920px;
  padding: 17px 35px;
}

.div-footer-2 .copyright {
  color: var(--white);
  font-family: var(--font-family-neue_haas_grotesk_display_pro-65medium);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 20px;
  letter-spacing: 0.94px;
  line-height: normal;
  white-space: nowrap;
}
