.div-announcementbar {
    border-bottom-style: solid;
    border-bottom-width: 1.33px;
    border-color: #2e2e2e; /* Updated color */
    display: flex;
    height: 35px;
    margin-left: 0;
    margin-top: 0;
    width: fit-content;
}

.divmarquee-announcement-bar {
    background-color: #2e2e2e; /* Updated color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34.67px;
    width: fit-content;
}

.free-shipping-on-all-orders-over-150 {
    color: #2e2e2e; /* Updated color */
    font-family: var(--font-family-neue_haas_grotesk_display_pro-65medium);
    font-size: var(--font-size-xl);
    font-weight: 500;
    height: 17.33px;
    letter-spacing: 0.94px;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    width: 100%; /* take the full width of the parent */
}
