.div-announcementbar {
    border-bottom-style: solid;
    border-bottom-width: 1.33px;
    border-color: #20201b;
    display: flex;
    height: 35px;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
}

.divmarquee-announcement-bar {
    background: linear-gradient(180deg, rgb(46, 46, 46) 0%, rgb(32, 32, 27) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34.67px;
    width: 100%;
}

.free-shipping-on-all-orders-over-150 {
    color: #f5f5f5;
    font-family: var(--font-family-neue_haas_grotesk_display_pro-65medium);
    font-size: var(--font-size-xl);
    font-weight: 500;
    height: 17.33px;
    letter-spacing: 0.94px;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    width: 100%; /* take the full width of the parent */
}


